<a href="https://colab.research.google.com/github/jasen8651/python001/blob/master/Untitled26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

#  경로 변경
%cd /content/drive/MyDrive/python_demo

Mounted at /content/drive
/content/drive/MyDrive/python_demo

In [3]:
import numpy as np
import pandas as pd

# df=pd.read_csv('/content/drive/MyDrive/python_demo/pdsample/숙소정보크롤링.csv', sep=',', encoding='cp949')
# df

In [4]:
df=pd.read_csv('/content/drive/MyDrive/python_demo/pdsample/객실테이블0228(GR).csv', sep=',', encoding='cp949')
df

,GR_ID,AC_ID,GR_PERSON_MAX,GR_PERSON_MIN,GR_PRICE,GR_NAME,GR_INFORM
0,4376,24208,2.0,2.0,"50,000원~",일반실,NaN
1,24078,24993,2.0,2.0,"49,000원~",15평 원룸,NaN
2,344688,26412,4.0,2.0,"120,000원~",Sky&Ocean Village,"추가인원 1인 당 1만5천원 추가되오니, 자세한 사항은 프런트로 문의부탁드립니다. ..."
3,323545,26412,2.0,2.0,"63,000원~",신관 오션뷰 스위트룸,NaN
4,51023,26412,4.0,2.0,"40,000원~",본관 스탠다드 더블,NaN
...,...,...,...,...,...,...,...
6257,512314,1000123595,NaN,NaN,"109,980원~",106동 22평형 독채,"인원 추가 정보, - 인원 : 기준 3명 / 최대 5명, - 인원추가 : 불가능, ..."
6258,512312,1000123595,NaN,NaN,"160,740원~",105동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."
6259,512309,1000123595,NaN,NaN,"160,740원~",103동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."
6260,512307,1000123595,NaN,NaN,"160,740원~",102동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."
6261,512304,1000123595,NaN,NaN,"160,740원~",101동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."

In [ ]:
df.dtypes

Unnamed: 0     int64
숙소id           int64
객실이름          object
가격            object
dtype: object

In [ ]:
year_df.dtypes

숙소id      int64
숙소이름     object
객실id      int64
객실이름     object
기본공지     object
최소인원    float64
최대인원    float64
dtype: object

In [5]:
year_df=pd.read_csv('/content/drive/MyDrive/python_demo/pdsample/숙박객실id이미지url.csv', sep=',', encoding='cp949')
# year_df = year_df.astype({'객실id' : 'object'})
# year_df = year_df.astype({'숙소id' : 'object'})

In [6]:
year_df

           숙박id    객실id                                          객실img_url
0         24208    4376  https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
1         24208    4376  https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
2         24208    4376  https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
3         24993   24078  https://yaimg.yanolja.com/resize/place/v4/2017...
4         24993   24078  https://yaimg.yanolja.com/resize/place/v4/2017...
...         ...     ...                                                ...
19182  10048125  512642  https://yaimg.yanolja.com/v5/2023/01/13/09/63c...
19183  10048125  512642  https://yaimg.yanolja.com/v5/2023/01/13/09/63c...
19184  10048127  512605  https://yaimg.yanolja.com/v5/2023/01/16/12/63c...
19185  10048127  512605  https://yaimg.yanolja.com/v5/2023/01/16/12/63c...
19186  10048127  512605  https://yaimg.yanolja.com/v5/2023/01/16/12/63c...

[19187 rows x 3 columns]

In [ ]:
df['숙소id'] = year_df['숙소id'].apply(str)

In [8]:
data=pd.merge(df,year_df,left_on=['AC_ID','GR_ID'],right_on=['숙박id','객실id'],how='inner')
data

,GR_ID,AC_ID,GR_PERSON_MAX,GR_PERSON_MIN,GR_PRICE,GR_NAME,GR_INFORM,숙박id,객실id,객실img_url
0,4376,24208,2.0,2.0,"50,000원~",일반실,NaN,24208,4376,https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
1,4376,24208,2.0,2.0,"50,000원~",일반실,NaN,24208,4376,https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
2,4376,24208,2.0,2.0,"50,000원~",일반실,NaN,24208,4376,https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
3,24078,24993,2.0,2.0,"49,000원~",15평 원룸,NaN,24993,24078,https://yaimg.yanolja.com/resize/place/v4/2017...
4,24078,24993,2.0,2.0,"49,000원~",15평 원룸,NaN,24993,24078,https://yaimg.yanolja.com/resize/place/v4/2017...
...,...,...,...,...,...,...,...,...,...,...
10698,510381,10048075,3.0,2.0,"250,000원~",H1풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510381,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10699,510381,10048075,3.0,2.0,"250,000원~",H1풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510381,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10700,510382,10048075,6.0,4.0,"250,000원~",H2풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510382,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10701,510382,10048075,6.0,4.0,"250,000원~",H2풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510382,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10702,510382,10048075,6.0,4.0,"250,000원~",H2풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510382,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...

In [9]:
data2 = pd.DataFrame(data)
data2.to_csv('객실테이블수정.csv',index=False,mode="a")

In [ ]:
#데이터 읽기 
df = pd.read_csv("/content/drive/MyDrive/python_demo/리뷰정보크롤링긍정부정.csv", encoding='cp949')
df