<a href="https://colab.research.google.com/github/jasen8651/python001/blob/master/Untitled26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

#  경로 변경
%cd /content/drive/MyDrive/python_demo

Mounted at /content/drive
/content/drive/MyDrive/python_demo

In [ ]:
import numpy as np
import pandas as pd

# df=pd.read_csv('/content/drive/MyDrive/python_demo/pdsample/숙소정보크롤링.csv', sep=',', encoding='cp949')
# df

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/python_demo/pdsample/숙소정보크롤링0228(AC)수정.csv', sep=',', encoding='cp949')
df

,AC_ID,AC_NAME,AC_TYPE_NUMBER,AC_TYPE_NAME,AC_CHECK_IN,AC_CHECK_OUT,AC_PHONE_NUMBER,AC_ADDRESS,AC_ADDRESS_MAIN,AC_ADDRESS_MIDDLE,AD_ADDRESS_SUB,AC_LATITUDE,AC_LONGITUDE,AC_THUMBNAIL,AC_NOTIFICATION,AC_INFORMATION
0,24208,제주 T무인텔,1,Motel,PM 18:00,AM 12:00,0503-5050-0309,제주특별자치도 제주시 조천읍 남조로 2393,제주시,조천읍,한림읍 협재로 68-5,126.246960,33.392206,https://yaimg.yanolja.com/v5/2018/09/10/16/640...,NaN,NaN
1,24993,제주 한림 이쁜새이쁘게노래하고,1,Motel,PM 15:00,AM 11:00,0503-5050-0637,제주특별자치도 제주시 한림읍 협재로 68-5,제주시,한림읍,삼무로1길 10-7,126.488756,33.490385,https://yaimg.yanolja.com/resize/place/v4/2017...,15평 원룸 객실 크리스탈 토파즈 루비는 객실 지정이 불가,NaN
2,26406,제주 JM,1,Motel,PM 14:00,AM 12:00,NaN,제주특별자치도 제주시 삼무로1길 10-7,제주시,삼무로,애월읍 애월해안로 943,126.395764,33.483672,https://yaimg.yanolja.com/v5/2021/12/24/10/640...,NaN,NaN
3,26412,제주 Fantastic Oceanview 시드니호텔,1,Motel,PM 15:00,AM 11:00,0503-5050-1298,제주특별자치도 제주시 애월읍 애월해안로 943,제주시,애월읍,삼무로1길 3,126.489540,33.491116,https://yaimg.yanolja.com/v5/2019/11/27/11/640...,NaN,1 최대인원 이상의 인원추가는 불가합니다 2 기준인원 초과 시 추가요금이 발생하며 ...
4,26442,제주 하루,1,Motel,PM 15:00,AM 12:00,0503-5052-7067,제주특별자치도 제주시 삼무로1길 3,제주시,삼무로,사장1길 26 (연동),126.492900,33.485324,https://yaimg.yanolja.com/v5/2022/03/15/13/640...,NaN,이용 6일전 오후3시 이전 취소 요청시 100 이용 5일전 오후3시 이전 취소 요청...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1536,1000123163,제주 달콤한아침펜션,3,Pension,PM 17:00,AM 10:00,0503-5059-3264,제주특별자치도 제주시 구좌읍 행원로 35-9,제주시,구좌읍,영평5길 68,126.578177,33.484781,https://yaimg.yanolja.com/v5/2023/01/02/10/640...,NaN,옥상에서 바다 감상 가능 빔프로젝터 조식 월정리 해수욕장 도보 5분 네스프레...
1537,1000123573,제주 다님독채풀빌라,3,Pension,PM 16:00,AM 11:00,0503-5059-3533,제주특별자치도 제주시 영평5길 68,제주시,영평5길,애월읍 소길남길 22,126.378132,33.432721,https://yaimg.yanolja.com/v5/2023/01/10/10/640...,NaN,NaN
1538,1000123574,제주 알프스인소길스테이펜션,3,Pension,PM 16:00,AM 11:00,0503-5059-0042,제주특별자치도 제주시 애월읍 소길남길 22,서귀포시,애월읍,안덕면 소기왓로 79-1,126.368743,33.241566,https://yaimg.yanolja.com/v5/2023/02/20/11/640...,NaN,NaN
1539,1000123575,서귀포 제주애풀빌라,3,Pension,PM 16:00,AM 11:00,0503-5059-3534,제주특별자치도 서귀포시 안덕면 소기왓로 79-1,제주시,안덕면,애월읍 신엄1길 12,126.358504,33.468967,https://yaimg.yanolja.com/v5/2023/01/10/10/640...,NaN,NaN
1540,1000123595,제주 애월애휴양펜션,3,Pension,PM 15:00,AM 11:00,0503-5059-3520,제주특별자치도 제주시 애월읍 신엄1길 12,NaN,애월읍,NaN,NaN,NaN,https://yaimg.yanolja.com/v5/2023/02/07/01/640...,NaN,개별 바베큐 단독 독채 오션뷰 객실 내 무료 WiFi 반려동물 동반가능 무료 ...

In [ ]:
df.dtypes

Unnamed: 0     int64
숙소id           int64
객실이름          object
가격            object
dtype: object

In [ ]:
year_df.dtypes

숙소id      int64
숙소이름     object
객실id      int64
객실이름     object
기본공지     object
최소인원    float64
최대인원    float64
dtype: object

In [ ]:
year_df=pd.read_csv('/content/drive/MyDrive/python_demo/pdsample/객실테이블0303(GR).csv', sep=',', encoding='cp949')
# year_df = year_df.astype({'객실id' : 'object'})
# year_df = year_df.astype({'숙소id' : 'object'})

In [ ]:
year_df

,GR_ID,AC_ID,GR_NUMBER,GR_PERSON_MAX,GR_PERSON_MIN,GR_PRICE,GR_NAME,GR_INFORM
0,0,24208.0,4376,2.0,2.0,"50,000원~",일반실,NaN
1,1,24993.0,24078,2.0,2.0,"49,000원~",15평 원룸,NaN
2,2,26412.0,344688,4.0,2.0,"120,000원~",Sky&Ocean Village,"추가인원 1인 당 1만5천원 추가되오니, 자세한 사항은 프런트로 문의부탁드립니다. ..."
3,3,26442.0,323545,2.0,2.0,"63,000원~",신관 오션뷰 스위트룸,NaN
4,4,26946.0,51023,4.0,2.0,"40,000원~",본관 스탠다드 더블,NaN
...,...,...,...,...,...,...,...,...
6257,6257,NaN,512314,NaN,NaN,"109,980원~",106동 22평형 독채,"인원 추가 정보, - 인원 : 기준 3명 / 최대 5명, - 인원추가 : 불가능, ..."
6258,6258,NaN,512312,NaN,NaN,"160,740원~",105동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."
6259,6259,NaN,512309,NaN,NaN,"160,740원~",103동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."
6260,6260,NaN,512307,NaN,NaN,"160,740원~",102동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."
6261,6261,NaN,512304,NaN,NaN,"160,740원~",101동 33평형 독채,"인원 추가 정보, - 인원 : 기준 5명 / 최대 8명, - 인원추가 : 불가능, ..."

In [ ]:
df['숙소id'] = year_df['AC_ID'].apply(str)

In [ ]:
data=pd.merge(df,year_df,left_on=['AC_ID'],right_on=['AC_ID'],how='inner')
data

,AC_ID,AC_NAME,AC_TYPE_NUMBER,AC_TYPE_NAME,AC_CHECK_IN,AC_CHECK_OUT,AC_PHONE_NUMBER,AC_ADDRESS,AC_ADDRESS_MAIN,AC_ADDRESS_MIDDLE,...,AC_THUMBNAIL,AC_NOTIFICATION,AC_INFORMATION,GR_ID,GR_NUMBER,GR_PERSON_MAX,GR_PERSON_MIN,GR_PRICE,GR_NAME,GR_INFORM
0,24208,제주 T무인텔,1,Motel,PM 18:00,AM 12:00,0503-5050-0309,제주특별자치도 제주시 조천읍 남조로 2393,제주시,조천읍,...,https://yaimg.yanolja.com/v5/2018/09/10/16/640...,NaN,NaN,0,4376,2.0,2.0,"50,000원~",일반실,NaN
1,24993,제주 한림 이쁜새이쁘게노래하고,1,Motel,PM 15:00,AM 11:00,0503-5050-0637,제주특별자치도 제주시 한림읍 협재로 68-5,제주시,한림읍,...,https://yaimg.yanolja.com/resize/place/v4/2017...,15평 원룸 객실 크리스탈 토파즈 루비는 객실 지정이 불가,NaN,1,24078,2.0,2.0,"49,000원~",15평 원룸,NaN
2,26412,제주 Fantastic Oceanview 시드니호텔,1,Motel,PM 15:00,AM 11:00,0503-5050-1298,제주특별자치도 제주시 애월읍 애월해안로 943,제주시,애월읍,...,https://yaimg.yanolja.com/v5/2019/11/27/11/640...,NaN,1 최대인원 이상의 인원추가는 불가합니다 2 기준인원 초과 시 추가요금이 발생하며 ...,2,344688,4.0,2.0,"120,000원~",Sky&Ocean Village,"추가인원 1인 당 1만5천원 추가되오니, 자세한 사항은 프런트로 문의부탁드립니다. ..."
3,26442,제주 하루,1,Motel,PM 15:00,AM 12:00,0503-5052-7067,제주특별자치도 제주시 삼무로1길 3,제주시,삼무로,...,https://yaimg.yanolja.com/v5/2022/03/15/13/640...,NaN,이용 6일전 오후3시 이전 취소 요청시 100 이용 5일전 오후3시 이전 취소 요청...,3,323545,2.0,2.0,"63,000원~",신관 오션뷰 스위트룸,NaN
4,26946,제주 해피데이,1,Motel,PM 23:00,AM 11:00,NaN,제주특별자치도 제주시 제원길 43,제주시,제원길,...,https://yaimg.yanolja.com/resize/place/v4/2017...,NaN,NaN,4,51023,4.0,2.0,"40,000원~",본관 스탠다드 더블,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,1000123163,제주 달콤한아침펜션,3,Pension,PM 17:00,AM 10:00,0503-5059-3264,제주특별자치도 제주시 구좌읍 행원로 35-9,제주시,구좌읍,...,https://yaimg.yanolja.com/v5/2023/01/02/10/640...,NaN,옥상에서 바다 감상 가능 빔프로젝터 조식 월정리 해수욕장 도보 5분 네스프레...,983,221612,3.0,2.0,"200,000원~",패밀리룸 20평,"가족단위,자전거동호회,친목회 전용"
979,1000123573,제주 다님독채풀빌라,3,Pension,PM 16:00,AM 11:00,0503-5059-3533,제주특별자치도 제주시 영평5길 68,제주시,영평5길,...,https://yaimg.yanolja.com/v5/2023/01/10/10/640...,NaN,NaN,984,125552,2.0,2.0,"45,000원~",202더블룸,NaN
980,1000123574,제주 알프스인소길스테이펜션,3,Pension,PM 16:00,AM 11:00,0503-5059-0042,제주특별자치도 제주시 애월읍 소길남길 22,서귀포시,애월읍,...,https://yaimg.yanolja.com/v5/2023/02/20/11/640...,NaN,NaN,985,133483,3.0,2.0,"45,000원~",106호 원룸,NaN
981,1000123575,서귀포 제주애풀빌라,3,Pension,PM 16:00,AM 11:00,0503-5059-3534,제주특별자치도 서귀포시 안덕면 소기왓로 79-1,제주시,안덕면,...,https://yaimg.yanolja.com/v5/2023/01/10/10/640...,NaN,NaN,986,125566,3.0,2.0,"45,000원~",더블룸,NaN
982,1000123595,제주 애월애휴양펜션,3,Pension,PM 15:00,AM 11:00,0503-5059-3520,제주특별자치도 제주시 애월읍 신엄1길 12,NaN,애월읍,...,https://yaimg.yanolja.com/v5/2023/02/07/01/640...,NaN,개별 바베큐 단독 독채 오션뷰 객실 내 무료 WiFi 반려동물 동반가능 무료 ...,987,125568,3.0,2.0,"20,000원~",여성 4인 도미토리,NaN

In [ ]:
data2 = pd.DataFrame(data)
data2.to_csv('숙소테이블수정.csv',index=False,mode="a")

In [ ]:
data2

,GR_ID,AC_ID,GR_PERSON_MAX,GR_PERSON_MIN,GR_PRICE,GR_NAME,GR_INFORM,숙박id,객실id,객실img_url
0,4376,24208,2.0,2.0,"50,000원~",일반실,NaN,24208,4376,https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
1,4376,24208,2.0,2.0,"50,000원~",일반실,NaN,24208,4376,https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
2,4376,24208,2.0,2.0,"50,000원~",일반실,NaN,24208,4376,https://yaimg.yanolja.com/v5/2018/09/10/16/5b9...
3,24078,24993,2.0,2.0,"49,000원~",15평 원룸,NaN,24993,24078,https://yaimg.yanolja.com/resize/place/v4/2017...
4,24078,24993,2.0,2.0,"49,000원~",15평 원룸,NaN,24993,24078,https://yaimg.yanolja.com/resize/place/v4/2017...
...,...,...,...,...,...,...,...,...,...,...
10698,510381,10048075,3.0,2.0,"250,000원~",H1풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510381,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10699,510381,10048075,3.0,2.0,"250,000원~",H1풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510381,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10700,510382,10048075,6.0,4.0,"250,000원~",H2풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510382,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10701,510382,10048075,6.0,4.0,"250,000원~",H2풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510382,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...
10702,510382,10048075,6.0,4.0,"250,000원~",H2풀빌라,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",10048075,510382,https://yaimg.yanolja.com/v5/2022/12/30/10/63a...

In [ ]:
#데이터 읽기 
df = pd.read_csv("/content/drive/MyDrive/python_demo/리뷰정보크롤링긍정부정.csv", encoding='cp949')
df

#데이터 수정